{{>layout/header}}
<!--<div class="px-4 pt-5 my-5 text-center border-bottom">-->
<!--    <h1 class="display-4 fw-bold">Centered screenshot</h1>-->
<!--    <div class="col-lg-6 mx-auto">-->
<!--        <p class="lead mb-4">Quickly design and customize responsive mobile-first sites with Bootstrap, the world’s most popular front-end open source toolkit, featuring Sass variables and mixins, responsive grid system, extensive prebuilt components, and powerful JavaScript plugins.</p>-->
<!--        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">-->
<!--            <button type="button" class="btn btn-primary btn-lg px-4 me-sm-3">Primary button</button>-->
<!--            <button type="button" class="btn btn-outline-secondary btn-lg px-4">Secondary</button>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="overflow-hidden" style="max-height: 30vh;">-->
<!--        <div class="container px-5">-->
<!--            <img src="bootstrap-docs.png" class="img-fluid border rounded-3 shadow-lg mb-4" alt="Example image" width="700" height="500" loading="lazy">-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<style>
body{
    background-image: url('https://picsum.photos/3500/1500');
}
</style>

<div class="px-4 py-5 my-5 text-center">
<!--    <img class="d-block mx-auto mb-4" src="/docs/5.2/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57">-->
    <h1 class="display-5 fw-bold">Welcome to Mood Tracker</h1>
<!--    <h1 class="display-5 fw-bold">and Enhancer</h1>-->
    <p></p>
    <div class="col-lg-4 mx-auto">
        <p class="lead mb-4">Mood tracker and Enhancer can help you to keep track of your daily mood so that they can be used as future information to even lead to enhance your mood.</p>
        <p class="lead mb-3">Please sign in with your favorite platform.</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            {{^userName}}
                <button onclick="window.location.href='/oauth2/authorization/google';" type="button" class="btn btn-primary btn-lg px-4 gap-3">Google Login</button>
                <button onclick="window.location.href='/oauth2/authorization/naver';" type="button" class="btn btn-success btn-lg px-4">Naver Login</button>
            {{/userName}}
            {{#userName}}
                <div>
                    <div class="alert alert-success gap-3" role="alert">
                    Hi {{userName}}, kindly check your mood for yourself.
                    </div>
                    <div class="gap-3" >
                        <button onclick="window.location.href='/v1/mood_tracker';" type="button" class="btn btn-success btn-lg px-4">Track your Mood</button>
                        <button onclick="window.location.href='/v1/mood_history';" type="button" class="btn btn-outline-success btn-lg px-4">Mood history</button>
                        <button onclick="window.location.href='/v1/task_manager';" type="button" class ="btn btn-outline-warning btn-lg px-4">Task Manager</button>

                    </div>
                    <p></p>
                    <button onclick="window.location.href='/logout';" type="button" class="btn btn-secondary btn-lg px-4">Logout</button>

                </div>
            {{/userName}}
        </div>
    </div>
</div>
{{>layout/footer}}