{{>layout/header}}

<div class = "text-center">
    <h3>This is level {{selected_level}}</h3>
    <form>
        <div class="btn-group-vertical" role="group" aria-label="Basic checkbox toggle button group">
            {{#taskList}}

                <input type="checkbox" class="btn-check" id="{{task_id}}" autocomplete="off">
                <label class="btn btn-outline-primary" for="{{task_id}}">{{task_name}}</label>

            {{/taskList}}

        </div>
    </form>
    <p></p>
    <button onclick="countChecked('{{selected_level}}')" type="submit" class="btn btn-primary">Submit</button>

</div>

<script src="/js/app/checkedCounter.js"></script>
{{>layout/footer}}

