{{>layout/header}}
<div class="text-center">
<h1>Welcome to moodtracker</h1>
<h3>First, Kindly choose the start level</h3>
{{#pastWeekLevel}}
    <h3>Your average mood level this week is {{pastWeekLevel}}</h3>
{{/pastWeekLevel}}
{{^pastWeekLevel}}
    <h3>You have not checked your mood last week!</h3>
{{/pastWeekLevel}}
    <div class="row justify-content-center">
<div class="form-group col-4">
<form method="GET" action="/selectedLevel">
        <label for="dropdown">Select an option:</label>
        <select class="form-control" id="dropdown" name="selected_level">
            <option value="1">Level 1</option>
            <option value="2">Level 2</option>
            <option value="3">Level 3</option>
            <option value="4">Level 4</option>
            <option value="5">Level 5</option>
            <option value="6">Level 6</option>
        </select>
    <p></p>
    <button type="submit" class="btn btn-primary">Start!</button>
</form>
</div>
    </div>
</div>
{{>layout/footer}}