{{>layout/header}}


<!--   여기서 해야할 일:-->
<!--1. 태스크를 만든다-->
<!--2. 태스크를 수정한다 -- 내가만든 태스크라면-->
<!--3. 태스크를 삭제한다 -- 내가만든 태스크라면-->
<!--4. 내가 만든 태스크를 조회하는 기능-->
<div class="text-center">
<h1>Task Manager</h1>
    <div class="row justify-content-center">
        <div class="col-4">
        <form action="/v1/POST/tasks" method="POST">
            <div class="mb-3">
                <label for="task_name" class="form-label">Task name</label>
                <input name="task_name" type="text" class="form-control" id="task" placeholder="Please enter a new task">
            </div>
            <div class="mb-3">
                <label for="task_level" class="form-label">Task level</label>
                <select name="task_level" id="level" class="form-select">
                    <option selected value="1">Level 1</option>
                    <option value="2">Level 2</option>
                    <option value="3">Level 3</option>
                    <option value="4">Level 4</option>
                    <option value="5">Level 5</option>
                    <option value="6">Level 6</option>
                </select>
            </div>
            <div class="col-12">
                <button type="submit" class="btn btn-primary">Create new task</button>
                <a href="/" role="button" class="btn btn-success">Home</a>
            </div>
        </form>
        </div>
    </div>

    {{^taskResponseDtoList}}
        <p>You have not posted any tasks yet</p>
    {{/taskResponseDtoList}}
    <div class="row justify-content-center">
    <div class="col-6">
            <table class="table table-horizontal table-bordered">
                <thead class="thead-strong">
                <tr>
                    <th>Task Id</th>
                    <th>Task</th>
                    <th>Level</th>
                </tr>
                </thead>
                <tbody id="tbody">
                {{#taskResponseDtoList}}
                <tr>
                    <td><a href="/v1/task_to_modify/{{task_id}}">{{task_id}}</td>
                    <td><a href="/v1/task_to_modify/{{task_id}}">{{task_name}}</td>
                    <td>{{task_level}}</td>
                </tr>
                {{/taskResponseDtoList}}
                </tbody>
            </table>

    </div>
    </div>
</div>
{{>layout/footer}}